body{
  background: white url("images/background.png");
}

.navbar{
  border-radius: 0px;
}

.navbar-brand{
  font-family: 'Satisfy', cursive;
}


ul.errorlist {
    padding-left: 0;
}

ul.errorlist > li {
    list-style: none;
}


.glyphicon-star {
    color: #CCCCCC;
    font-size: 16px;
}

.glyphicon-star.active {
    color: #FDB230;
}
